<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Flask</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url_for('index') }}">Flask-PythoN</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% block homeactive %}{% endblock %}">
                        <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% block aboutactive %}{% endblock %}">
                        <a class="nav-link" href="{{ url_for('about') }}">About</a>
                    </li>
                    <li class="nav-item {% block contactactive %}{% endblock %}">
                        <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="header-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <div class="section-header mt-5">
                        <h1> {% block heading_1 %}{% endblock %} </h1>
                        <p> {% block para_1 %}{% endblock %} </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    {% block contact_form %}
    {% endblock %}



    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
</body>
</html>